<div class="modal-header">
    <h4 class="modal-title set-mar">Forgot Password</h4>
    <button type="button" class="close close-one" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">✕</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Enter your email ID to reset password</p>
    <input type="email"  [(ngModel)]="email" name="email" class="form-control" placeholder="Enter email ID">
    <button style="margin-left: 30%;margin-top: 15px;" type="button" class="btn btn-primary reset-password" (click)="forgotPassword()">Reset Password</button>
  </div>